@use "../Base/variables";

.blog-container{
    margin-top: variables.$space-medium;
    background-color: variables.$border-color;
    margin: variables.$space-large 0;
    padding: variables.$space-large variables.$space-xlarge;

    @media (max-width: variables.$breakpoint-small) {
        padding: variables.$space-regular variables.$space-small;
        margin: variables.$space-small 0 0;
    }
}

.blog-title{
    display: flex;
    flex-direction: column;
    gap: variables.$padding-small;

    p{
        font-size: variables.$font-medium;
        font-weight: variables.$weight-light;
        color: variables.$gray-text-color;
    }

    @media (max-width: variables.$breakpoint-small) {
        h2{
            font-size: variables.$font-regular;
            font-weight: variables.$weight-regular;
        }

        p{
            font-size: variables.$font-thin;
            font-weight: variables.$weight-light;
        }
    }
    
}

.blog-description{
    width: 100%;

    p{
        font-size: variables.$font-regular;
        font-weight: variables.$weight-light;
        color: variables.$gray-text-color;
        text-align: left;
        margin: variables.$padding-small 0;
    }

    a{
        font-size: variables.$font-regular;
        font-weight: variables.$weight-light;
        color: variables.$dark-color;
        text-decoration: underline;
    }

    @media (max-width: variables.$breakpoint-small) {
        h2{
            font-size: variables.$font-regular;
            font-weight: variables.$weight-regular;
            margin-top: variables.$padding-large;
        }

        p{
            font-size: variables.$font-thin;
            font-weight: variables.$weight-light;
        }

        a{
            font-size: variables.$font-thin;
            font-weight: variables.$weight-light;
        }

        img{
            margin-top: variables.$padding-large;
        }
    }
}

.blog-images{
    display: flex;
    gap: variables.$space-small;
    margin-top: variables.$space-medium;

    img {
        width: 100%;
    }
}


.blog-slider .slick-slide {
    padding: 0 12px;

    @media (max-width: variables.$breakpoint-small) {
        padding: 0;
    }
}

.blog-slider .slick-list {
    margin: 0 -12px;

    @media (max-width: variables.$breakpoint-small) {
        margin: 0;
    
    }
}

