@use "../Base/variables";

.cart{
    max-width: 500px;
    width: 100%;
    height: 100vh;
}

.cart-division{
    height: 100%;
    display: flex;
    flex-direction: column;
}


.cart-title{
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-height: 81px;
    padding: variables.$padding-large;
}

.cart-container{
    display: flex;
    border: 1px solid #EEEEEE;
}

.cart-subtotal, .cart-discount, .cart-total {
    display: flex;
    justify-content: space-between;
    font-size: variables.$font-small;
    font-weight: variables.$weight-regular;
    color: variables.$dark-color;

    .cart-discount{
        color: variables.$tertiary-color;
    }
}

.cart-finalization {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    gap: variables.$space-small;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
    padding: variables.$padding-large variables.$padding-large 40px variables.$padding-large;
}

.place-order{
    background-color: variables.$tertiary-color;
    border: none;
    color: variables.$light-color;
    font-size: variables.$font-small;
    font-weight: variables.$weight-regular;
    width: 452px;
    height: 46px;
    cursor: pointer;
}

.continue-shopping{
    font-size: variables.$font-small;
    font-weight: variables.$weight-light;
    color: variables.$dark-color;
    margin: auto;
    text-decoration: underline;
}