@use "../Base/variables";

.footer-container{
    margin: variables.$space-xlarge 0 0;
}

.newsletter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: variables.$secondary-color;
    height: 110px;

    @media (max-width: variables.$breakpoint-small) {
        flex-direction: column;
        text-align: center;
        height: 242px;
    }
}

.newsletter-text{
    font-weight: variables.$weight-regular;
    font-size: variables.$font-medium;
    margin-right: variables.$space-regular;
    color: variables.$tertiary-color;
}

.newsletter-form{

    @media (max-width: variables.$breakpoint-small) {
        display: flex;
        flex-direction: column;
        gap: variables.$padding-medium;
        margin-top: variables.$padding-large;

        input, button{
            width: 361px;
            margin: auto;
        }
    }
}

.discount {
    font-weight: variables.$weight-bold;
}

.newsletter-input{
    width: 300px;
    height: 46px;
    padding: variables.$padding-medium variables.$padding-large;
    border: 1px solid variables.$border-color;
    color: variables.$dark-color;
    margin-right: variables.$font-regular;
}

.newsletter-button{
    width: 300px;
    height: 46px;
    padding: variables.$padding-small;
    font-weight: variables.$weight-regular;
    font-size: variables.$font-small;
    background-color: variables.$tertiary-color;
    cursor: pointer;
    color: #FFFFFF;
    border: none;
}

.content-footer {
    display: flex;
    height: 424px;
    align-items: center;
    background-color: variables.$tertiary-color;

    @media (max-width: variables.$breakpoint-small) {
        flex-direction: column;
        height: 100%;
    }
}

.footer-spacing {
    display: flex;
    gap: variables.$space-large;
    align-items: center;
    width: 100%;

    @media (max-width: variables.$breakpoint-small) {
        flex-direction: column;
        margin-bottom: variables.$space-xlarge;
    }
}

.footer-icons{
    display: flex;
    gap: variables.$font-regular;
}

.logo-footer{
    margin-right: 10%;

    @media (max-width: variables.$breakpoint-small) {
        width: 100%;
        margin: variables.$space-medium 0 variables.$space-xlarge;
    }
}

.about-us, .politics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: variables.$padding-small;
    text-align: center;

    li{
        width: 100%;
        text-align: center;
    }
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: variables.$padding-small;
}

.footer-title {
    color: variables.$light-color;
    font-size: variables.$font-regular;
    font-weight: variables.$weight-bold;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

h3{
    color: variables.$light-color;
    font-size: variables.$font-regular;
    font-weight: variables.$weight-bold;

}

a {
    text-decoration: none;
    color: variables.$light-color;
    font-size: variables.$font-small;
    font-weight: variables.$weight-regular;
}


.coupon-input {
    width: 212px;
    height: 46px;
    background-color: variables.$light-color;
    border: 3px dashed variables.$border-color;
    border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
    color: variables.$tertiary-color;
    font-size: variables.$font-small;
    font-weight: variables.$weight-regular;
    text-align: center;

    @media (max-width: variables.$breakpoint-small) {
        width: 217px;
        margin-top: variables.$padding-large;
    }
}

.copy-button {
    width: 144px;
    height: 46px;
    background-color: variables.$tertiary-color;
    border: none;
    border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
    color: variables.$light-color;
    font-size: variables.$font-small;
    font-weight: variables.$weight-regular;
    cursor: pointer;
    
}