@use "../Base/variables";

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 39px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: variables.$tertiary-color;
  color: variables.$light-color;
  padding: variables.$padding-small;
  font-size: variables.$font-small;
  z-index: 200;

  a {
    color: variables.$light-color;
    font-size: variables.$font-small;
    text-decoration: underline;
    margin-left: variables.$padding-small;
  }

  @media (max-width: variables.$breakpoint-small) {
    width: 100%;
  }
}

.header {
  position: fixed;
  top: 30px;
  width: 100%;
  z-index: 100;
  transition: background-color 0.3s ease;

  &.header-filled {
    background-color: variables.$light-color;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  }

  .header-container {
    display: flex;
    align-items: center;
    gap: variables.$space-medium;
    padding: variables.$space-medium variables.$space-large;

    @media (max-width: variables.$breakpoint-small) {
      display: none;
    }
  }

  .header-container-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: variables.$space-medium variables.$space-large;

    .header-logo-mobile {
      width: 102px;
    }

    @media (min-width: variables.$breakpoint-small) {
      display: none;
    }
  }

  .header-logo img {
    height: 40px;
  }

  .header-nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;

    li {
      width: auto;
    }
  }
  
  .header-container-mobile {

    @media (max-width: variables.$breakpoint-small) {
      padding: variables.$padding-large;
      display: flex;
      align-items: center;
    }

  }

  .header-actions {
    display: flex;
    gap: variables.$padding-large;
    margin-left: auto;

    @media (max-width: variables.$breakpoint-small) {
      margin-left: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .icons-left, .icons-right {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: variables.$space-small;
      }
    }

    button {
      width: 20px;
      height: 20px;
      background: none;
      border: none;
      cursor: pointer;
      font-size: 18px;
    }
  }
  

}

.title-container {
  text-align: center;
  padding: variables.$padding-large 0;
}

.modal-title{
  font-size: variables.$font-medium;
  font-weight: variables.$weight-regular;
  color: variables.$dark-color;
  margin-bottom: 50px;
}

.city-state{
  display: flex;
  gap: variables.$padding-small;
}


.CEP, .city, .state {
  display: flex;
  flex-direction: column;
}

.CEP-label, .city-label, .state-label {
  font-size: variables.$font-small;
  font-weight: variables.$weight-regular;
  color: variables.$dark-color;
  margin-bottom: variables.$padding-medium;
}

.CEP-input, .city-input, .state-input {
  font-size: variables.$font-thin;
  font-weight: variables.$weight-regular;
  color: variables.$gray-text-color;
  margin-bottom: variables.$padding-small;
  height: 40px;
  padding: variables.$padding-small variables.$padding-large;
  border: 1px solid #EEEEEE;
}

.CEP-input{
  width: 562px;
  margin-bottom: variables.$padding-large;
}

.city-input, .state-input {
  width: 271px;
}

.save-button{
  background-color: variables.$tertiary-color;
  font-size: variables.$font-small;
  font-weight: variables.$weight-regular;
  color: variables.$light-color;
  margin-bottom: variables.$padding-xlarge;
  padding: variables.$padding-small variables.$padding-large;
  border: none;
  cursor: pointer;
  width: 562px;
  height: 43px;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}