@use "../Base/variables";

.header-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: variables.$tertiary-color;
  color: variables.$light-color;
  padding: variables.$padding-small;
  font-size: variables.$font-small;
  z-index: 200;

  a {
    color: variables.$light-color;
    font-size: variables.$font-small;
    text-decoration: underline;
    margin-left: variables.$padding-small;
  }
}

/* Header principal */
.header {
  position: fixed;
  top: 30px; /* Espaço reservado para a faixa vermelha */
  width: 100%;
  z-index: 100;
  transition: background-color 0.3s ease;

  &.header-filled {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  }

  .header-container {
    display: flex;
    align-items: center;
    gap: variables.$space-medium;
    padding: variables.$space-medium variables.$space-large;
  }

  .header-logo img {
    height: 40px;
  }

  .header-nav ul {
    display: flex;
    flex-direction: row;
    gap: variables.$space-medium;
    list-style: none;
    width: 100%;

    li a {
      text-decoration: none;
      color: #000;
      font-weight: bold;

      &:hover {
        color: variables.$tertiary-color;
      }
    }
  }

  .header-actions {
    display: flex;
    gap: variables.$space-small;
    margin-left: auto;

    button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 18px;

      &:hover {
        color: variables.$tertiary-color;
      }
    }
  }
}
