@use "../Base/variables";

.launches {
  margin-top: variables.$space-medium;
  padding: 0 variables.$space-xlarge;

  @media (max-width: variables.$breakpoint-small) {
    display: none;
  }
}

.swiper {

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 variables.$space-small;

    @media (max-width: variables.$breakpoint-small) {
        padding: 0;
    }
  }
}

.launches-mobile{

    h2{
      font-size: variables.$font-regular;
      font-weight: variables.$weight-light;
      margin: variables.$space-medium 0 0 variables.$space-small;
    }

    @media (min-width: variables.$breakpoint-small) {
      display: none;
    }

}