@use "../Base/variables";

.menu-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: variables.$light-color;
  z-index: 1000;
  padding: variables.$space-small 0 variables.$space-regular 280px;
  display: flex;
  align-items: start;
}

.menu-item {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (max-width: variables.$breakpoint-small) {
    flex-direction: row;
  }

  a {
    margin: variables.$padding-medium variables.$space-large 0 0;
    color: #333;
    text-decoration: none;

    @media (max-width: variables.$breakpoint-small) {
        margin: 0;
        font-size: variables.$font-small;
        font-weight: variables.$weight-regular;
        color: variables.$dark-color;
    }

    &:hover {
      color: variables.$tertiary-color;
    }
  }
}

.load-image {
  img {
    max-width: 315px;
    width: 100%;
    height: 315px;
    max-height: 100%;
    object-fit: cover;
 }
}
