
//Color
$primary-color: #F3AA9B;
$secondary-color: #FFE9DC;
$tertiary-color: #B11B26;
$gray-text-color: #8A8A8A;
$border-color: #F7F7F7;
$dark-color: #1D1D1D;
$light-color: #FFFFFF;
//font-weight
$weight-light: 300;
$weight-regular: 400;
$weight-bold: 600;
//font-size
$font-thin: 12px;
$font-small: 14px;
$font-regular: 16px;
$font-medium: 18px;
$font-large: 28px;
//spacing
$space-small: 16px;
$space-regular: 32px;
$space-medium: 37px;
$space-xmedium: 48px;
$space-large: 74px;
$space-xlarge: 78px;
//padding
$padding-small: 6px;
$padding-medium: 12px;
$padding-large: 24px;
$padding-xlarge: 47px;

$breakpoint-small: 480px;